.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.input input {
  width: 291px;
  height: 59px;
  border: 0px solid #f4f1f1;
  margin-right: 7px;
  font-size: 16px;
}

.input img {
  margin-left: 15px;
  width: 21px;
  height: 21px;
}

/* .menubar ul{
  box-sizing: border-box;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
  font-size: 16px;
  height: 100%;
  width: 100%;
  line-height: 70px;
  color: #383838;
  margin-left: 40px;
}
 */

.menubar {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 70px;
}
