.gym-header p {
  display: flex;
  font-size: 19px;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a6a6a6;
  line-height: 60px;
}

.under-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
    margin-right: 20px;
}

.input-search {
    width: 320px;
    height: 30px;
    border: 2px solid #f4f1f1;
    margin-right: 25px;
    font-size: 10px;
    color: #B8B8B8;
}