.title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 1px solid;
  justify-content: space-between;
  font-size: 20px;
  width: 250px;
  padding: 5px;
  margin-top: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid rgb(225, 222, 222);
  padding-bottom: 15px;
  padding-left: 7px;
}

.product-detail {
  display: flex;
  flex-direction: column;
}

.toolbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  color: var(--primary-color);
}
