.input-list {
  display: flex;
  flex-direction: column;
  height: 20px;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 25px;
}

.input-list input {
  width: 323px;
  height: 40px;
  border-color: #c4c4c4;
  margin-top: 15px;
}


.map {
    position: absolute;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 150px;
}