.input-list {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 25px;
  z-index: 1;
}

.input-list input {
  width: 323px;
  height: 40px;
  border-color: #c4c4c4;
  margin-top: 18px;
}

.map {
  position: absolute;
  bottom: 0px;
  margin-right: 25px;
  margin-bottom: 100px;
}
